<% if @todo.errors.any? %>

<p>The following errors were found</p>
<ol>
  <% @todo.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
  
</ol>

<% end %>

<%= form_for @todo do |f| %>

<p>
  <%= f.label :entry_date %> <br>
  <%= f.text_field :entry_date %>
</p>

<p>
  <%= f.label :name_of_todo %> <br>
  <%= f.text_field :name_of_todo %>
</p>

<p>
  <%= f.label :description_of_todo %> <br>
  <%= f.text_area :description_of_todo %>
</p>

<p>
  <%= f.label :due_date %> <br>
  <%= f.text_field :due_date %>
</p>

<p>
  <%= f.label :status %> <br>
  <%= f.text_field :status %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>

<p>
  <%= link_to "Back to Todos List", todos_path %>
</p>