<h1>Edit an Existing Todo</h1>

<% if @todo.errors.any? %>

<p>The following errors were found</p>
<ol>
  <% @todo.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
  
</ol>

<% end %>

<%= form_for @todo do |f| %>

<p>
  <%= f.label :name %> <br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :description %> <br>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>