<h1>Showing a New Todo</h1>

<p>Entry Date: <%= @todo.entry_date %> </p>
<p>Name: <%= @todo.name_of_todo %> </p>
<p>Description: <%= @todo.description_of_todo %> </p>
<p>Due Date: <%= @todo.due_date %> </p>
<p>Status: <%= @todo.status %> </p>

<p>
  <%= link_to "Back to Todos List", todos_path %>
</p>